.card {
  background-color: #6272a4;
}



.posted {
  padding: 5px 8px;
  border: 1px solid #50fa7b;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.active_posted {
  background-color: #50fa7b;
  color: #fff;
  padding: 5px 8px;
  border: 1px solid #50fa7b;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.not_posted {
  padding: 5px 8px;
  border: 1px solid #ff5555;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.active_not_posted {
  background-color: #ff5555;
  color: #fff;
  padding: 5px 8px;
  border-radius: 10px;
  margin-right: 5px;
  cursor: pointer;
}