nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}

.social-links {
    display: flex;
}

.social-links a {
    margin-left: 10px;
}


.profile {
    max-width: 100%;
    max-height: 500px;
}


.info {
    justify-content: center;
}
  