@import "_const.scss";

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  article {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: $dark_background;
    max-width: 90%;
    padding: 0.5rem;
    h1,
    h2 {
      text-align: center;
    }
    pre {
      max-width: fit-content;
      margin: 0 auto;
    }
  }
}
