@import "_const.scss";

footer {
  text-align: center;
  width: 100%;
  background-color: $dark_background;
  * {
    margin: 0.5rem;
    padding: 0.25rem;
  }
  padding-bottom: 1rem;
  padding-top: 0.25rem;
  a {
    text-decoration: none;
    color: $purple;
    padding-bottom: 0;
    margin-bottom: 0;
  }
}
