@import "_const.scss";

@font-face {
  font-family: "Fira Code";
  src: url("../../fonts/FiraCode-Regular.woff2") format("woff2");
}

html {
  font-family: "Fira Code";
  background-color: $background;
}

body {
  margin: 0;
}
