@import "_const.scss";

nav {
  background-color: $dark_background;
  color: $foreground;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $breakpoint-tablet) {
    flex-direction: column;
    a {
      margin: .25rem;
    }
  }

  a {
    padding: 0.25rem;
    padding-left: .75rem;
    padding-right: .75rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-decoration: none;
    color: $foreground;
  }

  *:hover {
    background-color: $selection;
    cursor: pointer;
  }
}
