.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);  /* Adjust the number of columns as needed */
  gap: 1rem;
  background-color: #44475a;
  padding: .25rem;

  @media (max-width: 767px) {  /* Adjust the breakpoint as needed */
    grid-template-columns: 1fr;  /* Set a single column for smaller screens */
    margin:0;
    padding: 0;
    gap: .5rem;

    .btn {
      padding: .5rem;
      margin: 0;
    }
  }
}



.btn {
  
  background-color: #6272a4;
  margin: .25rem;
  text-align: center;  /* Center the button content horizontally */
  display: flex;
  align-items: center;  /* Center the button content vertically */
  justify-content: center;  /* Center the button content horizontally */
}

a:link,
a {
  color: white;
  text-decoration-line: none;
}

a:hover {
  color: #8be9fd;
}
