.navbar {
    display: flex;
    background-color: #44475a;
    justify-content: space-between;
}

.home {
    padding: 5px;
    background-color: #6272a4;
    margin: 5px;
}

.page {
    display: flex;
}


.socials {
    display: flex;
}

.socials > div {
    padding: 5px;
    background-color: #6272a4;
    margin: 5px;
    display: flex;
}


a:link {
    color: white;
    text-decoration-line: none;
}

a {
    color: white;
    text-decoration-line: none;
}

a:hover {
    color: #8be9fd;
}