.published > .meta-title{
    background-color: #50fa7b;
}

.datetime {
    background-color: #6272a4;
    padding: 5px;
}

.meta-article {
    margin: 30%;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #6272a4;
    padding: 5px;
    text-align: center;
}

.meta-title {
    margin: 0%;
}

.edit-btns {
    display: flex;
}

.edit-btn {
    border-color: #282a36;
}

.delete-btn {
    background-color: #ff5555;
    border-color: #282a36;
}